.form-label {
  font-size: 18px;
}

.errorMsg {
  font-size: 20px;
  width: 25%;
}

.list-item {
  border: 1px solid burlywood;
  list-style: none;
}

.fizz,
.wizz {
  color: blue;
  margin-right: 10px;
}

.buzz,
.wuzz {
  color: green;
}

.btn:disabled {
  background-color: grey;
}

.hide {
  display: none;
}

.pagecount {
  font-size: 1.5rem;
  vertical-align: bottom;
}
